{% extends "base.html" %}
{% block content %}
    <div class="container my-3">
        <!-- 사용자 오류 표시 -->
        {% if messages %}
            <div class="alert alert-danger my-3" role="alert">
                {% for message in messages %}
                    <strong>{{ message.tags }}</strong>
                    <ul>
                        <li>{{ message.message }}</li>
                    </ul>
                {% endfor %}
            </div>
        {% endif %}
        <div class="row my-3">
            <div class="col-4">
                <h4>비밀번호찾기</h4>
            </div>
        </div>
        {% csrf_token %}
        {% include "form_errors.html" %}
        <label for="email">이메일</label>
        <input type="text" class="form-control" name="email" id="email"
               value="{{ form.email.value|default_if_none:'' }}">
        <button type="submit" class="btn btn-primary" id="email_author">인증번호 보내기</button>

        <input type="number" class="form-control" name="num_check" id="num_check">
        <button type="submit" class="btn btn-primary" id="check_num" disabled=True>인증번호확인</button>
    </div>
    <input type="hidden" id="num">
    <input type="hidden" id="user_id">
{% endblock %}
{% block script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#email_author").on('click', function () {
                $.ajax({
                    type: "POST",
                    url: "{% url 'common:send' %}",
                    data: {
                        email: $('#email').val()
                    },
                    success: function (data) {
                        if (data.result == 'success') {
                            alert("인증번호 발송");
                            $('#email_author').html("인증메일 재전송");
                            $('#email').attr('disabled', true);
                            $('#check_num').attr('disabled', false);
                            $('#user_id').val(data.id)
                            $('#num').val(data.num)
                        } else {
                            alert("없는 이메일 입니다.");
                        }
                    }
                })

            });
            $('#check_num').on('click', function () {
                $.ajax({
                    type: "POST",
                    url: "{% url 'common:find' %} ",
                    data: {
                        num: $('#num').val(),
                        num_check: $('#num_check').val(),
                    },
                    success: function (data) {
                        if (data.result == 'success') {
                            alert("인증 성공");
                            let user_id = $('#user_id').val()
                            location.href = `../change/${user_id}`
                        } else {
                            alert("인증 실패")
                        }
                    }

                });
            });
        });
    </script>
{% endblock %}