{% extends 'base.html' %}
{% block content %}
    <div class="container my-3">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <form method="post" class="post-form" action="{% url 'common:change' request.user.id %}">
            {% csrf_token %}
            {% include "form_errors.html" %}
            {% if request.user %}
            <div class="form-group">
                <label for="username">사용자 이름</label>
                <input type="text" class="form-control" name="username" readonly id="username"
                       value="{{ request.user.username|default_if_none:'' }}">
            </div>
            <div class="form-group">
                <label for="password1">비밀번호</label>
                <input type="password" class="form-control" name="password1" id="password1"
                       value="{{ form.password1|default_if_none:'' }}">
            </div>
            <div class="form-group">
                <label for="password2">비밀번호 확인</label>
                <input type="password" class="form-control" name="password2" id="password2"
                       value="{{ form.password2|default_if_none:'' }}">
            </div>
            <div class="form-group">
                <label for="email">이메일</label>
                <input type="text" class="form-control" name="email" readonly id="email"
                       value="{{ request.user.email|default_if_none:'' }}">
            </div>
            <button type="submit" class="btn btn-primary">변경하기</button>
            {% endif %}
        </form>
    </div>
    <table class="table">
        <thead>
        <tr class="text-center thead-dark">
            <th style="width: 50%">제목</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        <h5>최근 질문</h5>
        {% if question %}
            {% for question in question %}
                <tr class="text-center">
                    {# for 문의 순서로 1부터 표시#}
                    <td>
                    <a href="{% url 'pybo:detail' question.id %}">
                            {{ question.subject }}
                    </a>
                    </td>
                    <td>{{ question.create_date }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3">게시글 없습니다.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <table class="table">
        <thead>
        <tr class="text-center thead-dark">
            <th style="width: 50%">내용</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        <h5>최근 답변</h5>
        {% if answer %}
            {% for answer in answer %}
                <tr class="text-center">
                    {# for 문의 순서로 1부터 표시#}
                    <td>
                    <a href="{% url 'pybo:detail' answer.question.id %}">
                            {{ answer.content }}
                        </a>
                    </td>
                    <td>{{ answer.create_date }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3">최근 작성한 답변이 없습니다.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}
